@import url('https://fonts.googleapis.com/css?family=Montserrat:900');


body {
    background-color: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12fr);
  grid-template-rows: 3;
  justify-content:center;
  align-content:center;
  grid-gap: 5px;
  grid-template-areas:
    "h h h h h h h h h h h"
    "p p p c c c c c u u u"
    "f f f f f f f f f f f";


}

/* CSS settings for mouse over or active? */

.currentRoll {
  font-size: 55px;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.p1, .p2 {
  background-color: #CFD5D2;
  padding: 20px;
  width:25%;
}

.p1 h1 {
  font-family: 'Montserrat', sans-serif;

}
.p1 {
  grid-area: p;
}

.p2 {
  grid-area: u;
}

.buttons {
  grid-area: f;
  background-color: #E1D5D2;
}

.dice-box {
  padding:10px;
  background-color: #ABD5D2;
  color: black;
  grid-area: c;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  grid-area: h;
}

.p1roundScore {
  color: black;
}

.p1Score {
  color: black;
}

.saveScore {
  display: block;
}
